<body onload="pageLoaded()">
    <br>

    <img src="https://cubc.org.hk/wp-content/uploads/2016/08/logo_retina_x2.png" class="center">

    <br>
    <br>

    <h2 class="center">用戶資料</h2>

    <div style="position: relative;" class="form-group col-12 col-xl-12">
        <label style="position: relative;bottom: -5px;">用戶名稱: <%=user.username%></label>
        <br>
        <label style="position: relative;bottom: -5px;">電郵: <%=user.email%></label>
        <br>
        <label style="position: relative;bottom: -5px;">部門: <%=user.department%></label>
        <br>
        <label style="position: relative;bottom: -5px;">職位: <%=user.position%></label>
    </div>

    <nav class="bottomnav fixed-bottom">
        <a href="/item/adminindex" class="nav__link">
            <i class="material-icons">
                home
            </i>
            <span class="nav__text">主頁</span>
        </a>
        <a href="/item/adminsearch" class="nav__link nav__link--active">
            <i class="material-icons">
                search
            </i>
            <span class="nav__text">搜尋</span>
        </a>
        <a href="/item/adminnoti" class="nav__link">
            <i class="material-icons">
                email
            </i>
            <span class="nav__text">通知</span>
        </a>
        <a href="/item/adminaccount" class="nav__link">
            <i class="material-icons">
                account_circle
            </i>
            <span class="nav__text">帳戶</span>
        </a>
    </nav>
    </div>
</body>