<body onload="pageLoaded()">
    <div class="container">
        <br>

        <img src="https://cubc.org.hk/wp-content/uploads/2016/08/logo_retina_x2.png" class="center">

        <br>
        <br>

        <form action="/item/adminadditem">
            <button type="submit" class="btn btn-outline-danger center">增加物品</button>
        </form>

        <br>

        <button type="submit" class="btn btn-outline-danger center">增加通知</button>

        <br>

        <div>
            <div class="container">
                <h4 class="display-4">通知</h4>
                <a class="nav-item nav-link active" href="/">種類:書籍 名稱:曼巴精神 逾期倒數:5天</a>
                <a class="nav-item nav-link active" href="/">種類:桌遊 名稱:XXXXXXXX 逾期倒數:5天</a>
                <a class="nav-item nav-link active" href="/">種類:桌遊 名稱:XXXXXXXX 逾期倒數:5天</a>
                <a class="nav-item nav-link active" href="/">種類:桌遊 名稱:XXXXXXXX 逾期倒數:5天</a>
            </div>

            <div class="container">
                <h4 class="display-4">借用歷史</h4>
                <a class="nav-item nav-link active" href="/">種類:書籍 名稱:XXXXXXXX 備註:遺失</a>
                <a class="nav-item nav-link active" href="/">種類:桌遊 名稱:XXXXXXXX 備註:</a>
                <a class="nav-item nav-link active" href="/">種類:桌遊 名稱:XXXXXXXX 備註:</a>
                <a class="nav-item nav-link active" href="/">種類:桌遊 名稱:XXXXXXXX 備註:損壞</a>
            </div>

            <div class="container">
                <h4 class="display-4">我的申請</h4>
                <a class="nav-item nav-link active" href="/">種類:書籍 名稱:XXXXXXXX 數量:1 申請狀況:接納</a>
                <a class="nav-item nav-link active" href="/">種類:桌遊 名稱:XXXXXXXX 數量:2 申請狀況:接納</a>
                <a class="nav-item nav-link active" href="/">種類:桌遊 名稱:XXXXXXXX 數量:3 申請狀況:拒絕</a>
                <a class="nav-item nav-link active" href="/">種類:桌遊 名稱:XXXXXXXX 數量:4 申請狀況:拒絕</a>
            </div>


        </div>
        <nav class="bottomnav fixed-bottom">
            <a href="/item/adminindex" class="nav__link">
                <i class="material-icons">
                    home
                </i>
                <span class="nav__text">主頁</span>
            </a>
            <a href="/item/adminsearch" class="nav__link nav__link--active">
                <i class="material-icons">
                    search
                </i>
                <span class="nav__text">搜尋</span>
            </a>
            <a href="/item/adminnoti" class="nav__link">
                <i class="material-icons">
                    email
                </i>
                <span class="nav__text">通知</span>
            </a>
            <a href="/item/adminaccount" class="nav__link">
                <i class="material-icons">
                    account_circle
                </i>
                <span class="nav__text">帳戶</span>
            </a>
        </nav>
    </div>


</body>