<body onload="pageLoaded()">
    <div class="container">
        <br>

        <img src="https://cubc.org.hk/wp-content/uploads/2016/08/logo_retina_x2.png" class="center">

        <br>
        <br>



        <h2 style="color: wheat; background-color: darkred;"> &nbsp;&nbsp;收到的通知</h2>

        <div>
            <div class="square2 center">
                <strong>3月15日</strong>&nbsp; (書籍)曼巴精神已遺失。
            </div>
            <br>
            <div class="square2 center">
                <strong>3月07日</strong>&nbsp; (桌遊)飛行棋已損壞。
            </div>
            <br>

            <div class="square2 center">
                <strong>3月7日</strong>&nbsp; (物資)IPAD數量不足。
            </div>

        </div>



        <nav class="bottomnav fixed-bottom">
            <a href="/item/adminindex" class="nav__link">
                <i class="material-icons">
                    home
                </i>
                <span class="nav__text">主頁</span>
            </a>
            <a href="/item/adminsearch" class="nav__link nav__link--active">
                <i class="material-icons">
                    search
                </i>
                <span class="nav__text">搜尋</span>
            </a>
            <a href="/item/adminnoti" class="nav__link">
                <i class="material-icons">
                    email
                </i>
                <span class="nav__text">通知</span>
            </a>
            <a href="/item/adminaccount" class="nav__link">
                <i class="material-icons">
                    account_circle
                </i>
                <span class="nav__text">帳戶</span>
            </a>
        </nav>
    </div>
</body>