<body onload="pageLoaded()">
    <div class="container">
        <br>

        <img src="https://cubc.org.hk/wp-content/uploads/2016/08/logo_retina_x2.png" class="center">

        <br>
        <br>

        <div>
            <a class="nav-item nav-link active" href="/book/adminbooksearch">搜尋書本</a>
            <a class="nav-item nav-link active" href="/game/admigamesearch">搜尋桌遊</a>
            <a class="nav-item nav-link active" href="/gift/admigiftsearch">搜尋禮物</a>
            <a class="nav-item nav-link active" href="/material/admimaterialsearch">搜尋物資</a>
        </div>

        <nav class="bottomnav fixed-bottom">
            <a href="/item/adminindex" class="nav__link">
                <i class="material-icons">
                    home
                </i>
                <span class="nav__text">主頁</span>
            </a>
            <a href="/item/adminsearch" class="nav__link nav__link--active">
                <i class="material-icons">
                    search
                </i>
                <span class="nav__text">搜尋</span>
            </a>
            <a href="/item/adminnoti" class="nav__link">
                <i class="material-icons">
                    email
                </i>
                <span class="nav__text">通知</span>
            </a>
            <a href="/item/adminaccount" class="nav__link">
                <i class="material-icons">
                    account_circle
                </i>
                <span class="nav__text">帳戶</span>
            </a>
        </nav>

    </div>

</body>