<body onload="pageLoaded()">
    <div class="container">
        <br>
        <br>
        <br>


        <img src="https://cubc.org.hk/wp-content/uploads/2016/08/logo_retina_x2.png" class="center">

        <br>
        <br>



        <div class="error">
            <h2 class="center"><strong>抱歉，你輸入的帳戶不存在。</h2>
            <a class="center" href="/">按此回到登入介面</a>
        </div>





        <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_jAWhUR.json" background="transparent" speed="1" class="center3" style="width: 350px; height: 350px;" loop autoplay>
        </lottie-player>

        <nav class="bottomnav fixed-bottom">
            <a href="/" class="nav__link">
                <i class="material-icons">
                    home
                </i>
                <span class="nav__text">主頁</span>
            </a>
            <a href="/item/vistorsearch" class="nav__link nav__link--active">
                <i class="material-icons">
                    search
                </i>
                <span class="nav__text">搜尋</span>
            </a>
            <a href="/" class="nav__link">
                <i class="material-icons">
                    email
                </i>
                <span class="nav__text">通知</span>
            </a>
            <a href="/" class="nav__link">
                <i class="material-icons">
                    account_circle
                </i>
                <span class="nav__text">帳戶</span>
            </a>
        </nav>

    </div>
</body>


<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>