<body onload="pageLoaded()">
    <div class="container">
        <br>

        <img src="https://cubc.org.hk/wp-content/uploads/2016/08/logo_retina_x2.png" class="center">

        <br>



        <div>
            <div class="container">
                <h2 style="color:wheat; background-color: darkred;"> &nbsp;&nbsp;借用通知</h2>
                <div class="square center" style="background-color:lightgoldenrodyellow">
                    <div class="row">
                        <div class="col center">
                            種類
                        </div>
                        <div class="col center">
                            名稱
                        </div>
                        <div class="col center ">
                            逾期天數
                        </div>
                    </div>
                </div>
                <div class="square center">
                    <div class="row">
                        <div class="col center">
                            書籍
                        </div>
                        <div class="col center">
                            曼巴精神
                        </div>
                        <div class="col center " style="color:red">
                            6天
                        </div>
                    </div>
                </div>
                <div class="square center">
                    <div class="row">
                        <div class="col center">
                            桌遊
                        </div>
                        <div class="col center">
                            卡坦島
                        </div>
                        <div class="col center " style="color: black;">
                            9天
                        </div>
                    </div>
                </div>


                <div class="square center">
                    <div class="row">
                        <div class="col center">
                            物資
                        </div>
                        <div class="col center">
                            IPAD
                        </div>
                        <div class="col center ">
                            28天
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <br>

        <div>
            <div class="container">
                <h2 style="color:wheat; background-color: darkred;"> &nbsp;&nbsp;我的申請</h2>
                <div class="square center" style="background-color:lightgoldenrodyellow">
                    <div class="row">
                        <div class="col center">
                            種類
                        </div>
                        <div class="col center">
                            名稱
                        </div>
                        <div class="col center ">
                            申請狀況
                        </div>
                    </div>
                </div>
                <div class="square center">
                    <div class="row">
                        <div class="col center">
                            書籍
                        </div>
                        <div class="col center">
                            想見你(2)
                        </div>
                        <div class="col center " style="color:blue">
                            接納
                        </div>
                    </div>
                </div>
                <div class="square center">
                    <div class="row">
                        <div class="col center">
                            桌遊
                        </div>
                        <div class="col center">
                            矮人礦坑
                        </div>

                        <div class="col center " style="color:red">
                            拒絕
                        </div>

                    </div>
                </div>


                <div class="square center">
                    <div class="row">
                        <div class="col center">
                            物資
                        </div>
                        <div class="col center">
                            IPAD
                        </div>
                        <div class="col center " style="color:red">
                            拒絕
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <div class="container">
                    <h2 style="color:wheat; background-color: darkred;"> &nbsp;&nbsp;借用歷史</h2>
                    <div class="square center" style="background-color:lightgoldenrodyellow">
                        <div class="row">
                            <div class="col center">
                                種類
                            </div>
                            <div class="col center">
                                名稱
                            </div>
                            <div class="col center ">
                                備註
                            </div>
                        </div>
                    </div>
                    <div class="square center">
                        <div class="row">
                            <div class="col center">
                                書籍
                            </div>
                            <div class="col center">
                                想見你(1)
                            </div>
                            <div class="col center " style="color:green">
                                已歸還
                            </div>
                        </div>
                    </div>
                    <div class="square center">
                        <div class="row">
                            <div class="col center">
                                桌遊
                            </div>
                            <div class="col center">
                                飛行棋
                            </div>
                            <div class="col center " style="color:indigo">
                                遺失
                            </div>
                        </div>
                    </div>


                    <div class="square center">
                        <div class="row">
                            <div class="col center">
                                物資
                            </div>
                            <div class="col center">
                                原子筆
                            </div>
                            <div class="col center " style="color:red">
                                損壞
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <br>

        </div>


    </div>
    <nav class="bottomnav fixed-bottom">
        <a href="/item/userindex" class="nav__link">
            <i class="material-icons">
                home
            </i>
            <span class="nav__text">主頁</span>
        </a>
        <a href="/item/usersearch" class="nav__link nav__link--active">
            <i class="material-icons">
                search
            </i>
            <span class="nav__text">搜尋</span>
        </a>
        <a href="/item/usernoti" class="nav__link">
            <i class="material-icons">
                email
            </i>
            <span class="nav__text">通知</span>
        </a>
        <a href="/item/useraccount" class="nav__link">
            <i class="material-icons">
                account_circle
            </i>
            <span class="nav__text">帳戶</span>
        </a>
    </nav>
    </div>


</body>