<body onload="pageLoaded()">
    <br>

    <img src="https://cubc.org.hk/wp-content/uploads/2016/08/logo_retina_x2.png" class="center">

    <br>
    <br>
    <div class="container">
        <h2 class="center">更改帳戶密碼</h2>

        <form action="/item/userpasswordupdate/<%=user.id%>" method="POST">

            <div class="col-xl-6 col-form-label">
                <label>密碼:</label>
                <input type="password" class="form-control" name="password" value="<%=user.password%>" required>
            </div>

            <div>
                <button type="submit" class="btn btn-primary center">更改</button>
            </div>


        </form>


        <nav class="bottomnav fixed-bottom">
            <a href="/item/userindex" class="nav__link">
                <i class="material-icons">
                    home
                </i>
                <span class="nav__text">主頁</span>
            </a>
            <a href="/item/usersearch" class="nav__link nav__link--active">
                <i class="material-icons">
                    search
                </i>
                <span class="nav__text">搜尋</span>
            </a>
            <a href="/item/usernoti" class="nav__link">
                <i class="material-icons">
                    email
                </i>
                <span class="nav__text">通知</span>
            </a>
            <a href="/item/useraccount" class="nav__link">
                <i class="material-icons">
                    account_circle
                </i>
                <span class="nav__text">帳戶</span>
            </a>
        </nav>
    </div>

    </div>
</body>

<script>
    var a = document.querySelector('option[value="<%=user.department%>"]');
    a.selected = "selected";


    var b = document.querySelector('option[value="<%=user.position%>"]');
    b.selected = "selected";
</script>