<body onload="pageLoaded()">
    <div class="container">
        <br>

        <img src="https://cubc.org.hk/wp-content/uploads/2016/08/logo_retina_x2.png" class="center">

        <br>
        <br>
        <h2 style="color:wheat; background-color:darkred;"><strong> &nbsp;&nbsp;搜索..</h2>
        <div class="container">
            <div class="row">
                <div class="mycard col-6 col-sm-3">
                    <a href="/book/userbooksearch" style="color:black">

                        <img src="https://image.flaticon.com/icons/svg/1675/1675178.svg" class="card-img-top" alt="...">
                        <h2><strong>書本</strong></h2>
        <!-- <p class="card-text">圖書,小說,散文..</p> -->
        </a>
    </div>

    <div class="mycard col-6 col-sm-3">
        <a href="/game/usergamesearch" style="color:black">

            <img src="https://image.flaticon.com/icons/svg/864/864633.svg" class="card-img-top" alt="...">
            <h2><strong>桌遊</strong></h2>
            <!-- <p class="card-text">卡片遊戲,圖板遊戲,骰牌遊戲..</p> -->
        </a>
    </div>

    <div class="mycard col-6 col-sm-3">
        <a href="/gift/usergiftsearch" style="color:black">
            <img src="https://image.flaticon.com/icons/svg/415/415536.svg" class="card-img-top" alt="...">
            <!-- <div class="card-body"> -->
            <h2><strong>禮物</strong></h2>
            <!-- <p class="card-text">..</p> -->
            <!-- </div> -->

        </a>
    </div>

    <div class="mycard col-6 col-sm-3">
        <a href="/material/usermaterialsearch" style="color:black">
            <img src="https://image.flaticon.com/icons/svg/1815/1815759.svg" class="card-img-top" alt="...">
            <!-- <div class="card-body"> -->
            <h2><strong>物資</strong></h2>
            <!-- <p class="card-text">文具,繩,卡片..</p> -->
            <!-- </div> -->
        </a>
    </div>


    </div>
    </div>


    <nav class="bottomnav fixed-bottom">
        <a href="/item/userindex" class="nav__link">
            <i class="material-icons">
                    home
                </i>
            <span class="nav__text">主頁</span>
        </a>
        <a href="/item/usersearch" class="nav__link nav__link--active">
            <i class="material-icons">
                    search
                </i>
            <span class="nav__text">搜尋</span>
        </a>
        <a href="/item/usernoti" class="nav__link">
            <i class="material-icons">
                    email
                </i>
            <span class="nav__text">通知</span>
        </a>
        <a href="/item/useraccount" class="nav__link">
            <i class="material-icons">
                    account_circle
                </i>
            <span class="nav__text">帳戶</span>
        </a>
    </nav>

    </div>

</body>