<body onload="pageLoaded()">
    <div class="container">
        <nav role="navigation" class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">主頁</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="/item/vitemsearch">搜尋 <span
                            class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link active" href="/apartment/create">通知</a>
                    <a class="nav-item nav-link active" href="/apartment/admin">帳戶</a>
                </div>
            </div>
            <div>
                尚未登入 如需登入請按主頁
            </div>
            
        </nav>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">基督教協基會社會服務部存貨系統</h1>
                <p class="lead">此存貨系統可用於借還書籍/桌遊/活動物資/禮物(不用歸還)</p>
            </div>
        </div>

        <div>
            <a class="nav-item nav-link active" href="/book/vbooksearch">搜尋書本</a>
            <a class="nav-item nav-link active" href="/game/vgamesearch">搜尋桌遊</a>
            <a class="nav-item nav-link active" href="/gift/vgiftsearch">搜尋禮物</a>
            <a class="nav-item nav-link active" href="/event/veventsearch">搜尋活動物資</a>
        </div>

    </div>

</body>