<body onload="pageLoaded()">
    <div class="container">
        <nav role="navigation" class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">主頁</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="/item/vitemsearch/">搜尋 <span
                            class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link active" href="/item/usernoti">通知</a>
                    <a class="nav-item nav-link active" href="/item/useraccount">帳戶</a>
                </div>
            </div>
            

            <!-- <div><%=req.session.username%></div> -->
        </nav>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">基督教協基會社會服務部存貨系統</h1>
                <p class="lead">此存貨系統可用於借還書籍/桌遊/活動物資/禮物(不用歸還)</p>
            </div>
        </div>

        <form action="/user/login" method="POST">

            <div class="form-group">
                <label for="exampleInputEmail1">用戶名稱</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="輸入用戶名稱" name="username">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">密碼</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="輸入密碼"
                    name="password">
            </div>

            <button type="submit" class="btn btn-primary">登入</button>
        </form>

    </div>

</body>